@import 'base.css';
.fl {
  float: left;
}
.fr {
  float: right;
}
.border {
  border: 1px solid #cccccc;
}
.h4 {
  font-weight: normal;
  font-size: 18px;
  float: left;
}
.margin {
  margin-top: 30px;
  margin-bottom: 10px;
}
header {
  background-color: #f1f1f1;
  height: 30px;
  line-height: 30px;
}
header .top .top_left {
  float: left;
}
header .top .top_left a {
  color: #c81623;
}
header .top .top_right {
  float: right;
}
header .top .top_right li {
  display: inline-block;
  line-height: 12px;
  border-right: 1px solid #000000;
}
header .top .top_right li a {
  padding-left: 14px;
  padding-right: 14px;
}
header .top .top_right li:last-child {
  border-right: none;
}
.logo {
  height: 106px;
  margin-top: 24px;
}
.logo .logo_ {
  float: left;
}
.logo .logo_center {
  float: left;
  margin-left: 173px;
}
.logo .logo_center .logo_center_t {
  height: 38px;
}
.logo .logo_center .logo_center_t .shop_search {
  width: 454px;
  height: 34px;
  border: 2px solid #b1191a;
  float: left;
}
.logo .logo_center .logo_center_t #search {
  width: 80px;
  height: 38px;
  background-color: #b1191a;
  color: #ffffff;
  font-size: 16px;
  float: left;
}
.logo .logo_center .logo_center_b {
  margin-top: 8px;
}
.logo .logo_center .logo_center_b ul {
  margin-left: 12px;
}
.logo .logo_center .logo_center_b ul li {
  display: inline-block;
}
.logo .logo_center .logo_center_b ul li a {
  padding-right: 24px;
}
.logo .logo_center .logo_center_b ul li:nth-of-type(1) a {
  color: #c81623;
}
.logo .logo_right {
  width: 138px;
  height: 34px;
  line-height: 34px;
  background-color: #f7f7f7;
  text-align: center;
  margin-right: 62px;
  position: relative;
  border: 1px solid #cccccc;
  float: right;
}
.logo .logo_right a .icon-cart {
  color: #c81623;
}
.logo .logo_right a .icon-right {
  font-size: 12px;
}
.logo .logo_right a::after {
  content: '8';
  display: inline-block;
  min-width: 16px;
  height: 14px;
  border-radius: 6px 6px 6px 0px;
  color: #fff;
  background: #e70012;
  line-height: 14px;
  position: absolute;
  left: 104px;
  top: -5px;
}
.shop_line {
  height: 44px;
  border-bottom: 2px solid #b1191a;
}
.shop_line .shop_all_left {
  width: 210px;
  height: 44px;
  line-height: 44px;
  background-color: #b1191a;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  float: left;
}
.shop_line .shop_all_right {
  float: left;
  line-height: 44px;
  margin-left: 42px;
}
.shop_line .shop_all_right li {
  float: left;
}
.shop_line .shop_all_right li a {
  font-size: 16px;
  margin-right: 52px;
  color: #333333;
}
.banner_left {
  width: 210px;
  height: 465px;
  background-color: #c81623;
  float: left;
}
.banner_left li {
  height: 31px;
  line-height: 31px;
  padding-left: 10px;
  background: url(../images/icon_right_normal.png) no-repeat 188px;
}
.banner_left li a {
  color: #fff;
  font-size: 14px;
}
.banner_center {
  width: 721px;
  height: 455px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.banner_right {
  width: 247px;
  height: auto;
  margin-top: 10px;
  float: left;
}
.banner_right .banner_t {
  width: 248px;
  height: 162px;
  border: 1px solid #cccccc;
}
.banner_right .banner_t .pin {
  height: 32px;
  line-height: 32px;
  border-bottom: 1px dashed #cccccc;
}
.banner_right .banner_t .pin h3 {
  float: left;
  font-weight: normal;
  font-size: 14px;
  margin-left: 14px;
}
.banner_right .banner_t .pin span {
  float: right;
  margin-right: 14px;
}
.banner_right .banner_t .list ul {
  padding-left: 14px;
}
.banner_right .banner_t .list ul li {
  height: 26px;
  line-height: 26px;
}
.banner_right .banner_t .list ul li span {
  font-weight: bold;
  color: #666666;
  margin-right: 6px;
}
.banner_right .banner_b {
  width: 249px;
  height: 207px;
  border-right: 1px solid #cccccc;
}
.banner_right .banner_b .item {
  width: 61px;
  height: 68px;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: center;
  float: left;
}
.banner_right .banner_b .item_bg {
  width: 27px;
  height: 25px;
  margin: 0 auto;
  background: url(../images/icons.png) no-repeat -17px -16px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.banner_right .banner_b .item_bg1 {
  width: 27px;
  height: 25px;
  margin: 0 auto;
  background: url(../images/icons.png) no-repeat -77px -16px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.banner_right .banner_b .item_bg2 {
  width: 27px;
  height: 25px;
  margin: 0 auto;
  background: url(../images/icons.png) no-repeat -17px -16px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.banner_right .banner_b .item_bg3 {
  width: 27px;
  height: 25px;
  margin: 0 auto;
  background: url(../images/icons.png) no-repeat -138px -16px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.banner_right .banner_b .item_bg4 {
  width: 27px;
  height: 25px;
  margin: 0 auto;
  background: url(../images/icons.png) no-repeat -205px -16px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.banner_right .banner_b .item_bg5 {
  width: 27px;
  height: 25px;
  margin: 0 auto;
  background: url(../images/icons.png) no-repeat -17px -89px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.banner_right .banner_b .item_bg6 {
  width: 27px;
  height: 25px;
  margin: 0 auto;
  background: url(../images/icons.png) no-repeat -77px -89px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.banner_right .banner_b .item_bg7 {
  width: 27px;
  height: 25px;
  margin: 0 auto;
  background: url(../images/icons.png) no-repeat -138px -89px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.banner_right .banner_b .item_bg8 {
  width: 27px;
  height: 25px;
  margin: 0 auto;
  background: url(../images/icons.png) no-repeat -205px -89px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.banner_right .banner_b .item_bg9 {
  width: 27px;
  height: 25px;
  margin: 0 auto;
  background: url(../images/icons.png) no-repeat -77px -159px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.banner_right .banner_b .item_bg10 {
  width: 27px;
  height: 25px;
  margin: 0 auto;
  background: url(../images/icons.png) no-repeat -138px -159px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.banner_right .banner_b .item_bg11 {
  width: 27px;
  height: 25px;
  margin: 0 auto;
  background: url(../images/icons.png) no-repeat -205px -159px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.banner_right .banner_b1 {
  margin-top: 8px;
}
.recommend {
  margin-top: 12px;
  height: 162px;
}
.recommend .box1 {
  float: left;
  width: 212px;
  height: 162px;
  background-color: #5c5251;
  text-align: center;
}
.recommend .box1 img {
  margin-top: 30px;
  margin-bottom: 10px;
}
.recommend .box1 p {
  color: #ffffff;
  font-size: 18px;
}
.recommend .box2 {
  float: left;
  width: 246px;
  height: 162px;
  background: url(../images/recommend01.png);
}
.recommend .box3 {
  float: left;
  width: 246px;
  height: 162px;
  background: url(../images/recommend02.png);
}
.recommend .box4 {
  float: left;
  width: 246px;
  height: 162px;
  background: url(../images/recommend03.png);
}
.recommend .box5 {
  float: left;
  width: 246px;
  height: 162px;
  background: url(../images/recommend04.png);
}
.recommend .line {
  width: 1px;
  height: 146px;
  background-color: #cccccc;
  margin-top: 8px;
  float: left;
}
.love_t {
  margin-top: 30px;
  margin-bottom: 10px;
}
.love_t .left h4 {
  font-weight: normal;
  font-size: 18px;
  float: left;
}
.love_t .right span {
  margin-right: 6px;
  float: right;
}
.love_t .right .ico {
  width: 16px;
  height: 14px;
  background: url(../images/icons.png) no-repeat -420px -111px;
  float: right;
  margin-right: 20px;
}
.love {
  height: 230px;
  border: 1px solid #cccccc;
}
.love .box {
  width: 200px;
  float: left;
}
.love .box .box_t {
  height: 154px;
  text-align: center;
}
.love .box .box_b {
  width: 199px;
  height: 64px;
  border-right: 1px solid #cccccc;
}
.love .box .box_b .wen {
  width: 128px;
  height: 58px;
  margin: 0 auto;
}
.love .box .box_b .wen h5 {
  font-weight: normal;
  color: #666666;
}
.love .box .box_b .wen p {
  font-weight: bold;
  font-size: 18px;
  color: #c81623;
  margin-top: 6px;
}
.love .box .box_b .wen p span {
  font-size: 14px;
  color: #c81623;
}
.love .box:last-child .box_b {
  border-right: none;
}
.amusing_t {
  margin-top: 30px;
  margin-bottom: 10px;
}
.amusing_t h4 {
  font-weight: normal;
  font-size: 18px;
  float: left;
}
.amusing .left {
  width: 406px;
  height: 408px;
  float: left;
}
.amusing .center1 {
  width: 224px;
  height: 406px;
  border: 1px solid #cccccc;
  float: left;
}
.amusing .center1 .center1_t {
  width: 190px;
  height: 39px;
  line-height: 39px;
  margin: 0 auto;
  border-bottom: 1px dashed #cccccc;
  text-align: center;
}
.amusing .center1 .center1_t h4 {
  color: #333333;
  font-size: 14px;
}
.amusing .center1 .center1_b1 {
  width: 224px;
  height: 202px;
  background: url(../images/amusing02.png);
  border-bottom: 1px solid #cccccc;
}
.amusing .center1 .center1_b2 {
  width: 224px;
  height: 165px;
  background: url(../images/amusing03.png) no-repeat;
}
.amusing .center2 {
  width: 405px;
  height: 406px;
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  border-left: none;
  float: left;
}
.amusing .center2 .center2_t {
  width: 360px;
  height: 39px;
  line-height: 39px;
  margin: 0 auto;
  border-bottom: 1px dashed #cccccc;
  text-align: center;
}
.amusing .center2 .center2_t h4 {
  color: #333333;
  font-size: 14px;
}
.amusing .center2 .center2_b1 {
  width: 405px;
  height: 202px;
  background: url(../images/amusing04.png);
  border-bottom: 1px solid #cccccc;
}
.amusing .center2 .center2_b2 .center2_l {
  width: 202px;
  height: 164px;
  background: url(../images/amusing05.png) no-repeat;
  float: left;
  border-right: 1px solid #cccccc;
}
.amusing .center2 .center2_b2 .center2_r {
  width: 202px;
  height: 164px;
  background: url(../images/amusing06.png) no-repeat;
  float: left;
}
.amusing .right {
  width: 161px;
  height: 406px;
  border: 1px solid #cccccc;
  border-left: none;
  float: left;
}
.amusing .right .right_l {
  width: 76px;
  height: 386px;
  margin-top: 10px;
  margin-left: 6px;
  border-right: 1px dashed #cccccc;
  float: left;
}
.amusing .right .right_l .box {
  height: 54px;
  line-height: 45px;
  text-align: center;
  border-bottom: 1px dashed #cccccc;
}
.amusing .right .right_l .box:last-child {
  border-bottom: none;
}
.amusing .right .right_r {
  width: 74px;
  height: 386px;
  margin-top: 10px;
  float: left;
}
.amusing .right .right_r .box {
  height: 54px;
  line-height: 45px;
  text-align: center;
  border-bottom: 1px dashed #cccccc;
}
.amusing .right .right_r .box:last-child {
  border-bottom: none;
}
.appliance_t {
  margin-top: 30px;
  margin-bottom: 10px;
}
.appliance_t .left {
  float: left;
}
.appliance_t .left h3 {
  color: #c81623;
  font-size: 18px;
  font-weight: normal;
}
.appliance_t .right {
  float: right;
}
.appliance_t .right li {
  display: inline-block;
  line-height: 12px;
  border-right: 1px solid #000000;
}
.appliance_t .right li a {
  padding-left: 12px;
  padding-right: 12px;
}
.appliance_t .right li:last-child {
  border-right: none;
}
.appliance_t .right li:first-child a {
  color: #c81623;
}
.appliance {
  border-top: 2px solid #b1191a;
}
.appliance .left {
  width: 210px;
  height: 360px;
  background-color: #f7f7f7;
  float: left;
}
.appliance .left .left_t ul {
  padding-left: 12px;
}
.appliance .left .left_t ul li {
  float: left;
  border-bottom: 1px solid #cccccc;
}
.appliance .left .left_t ul li a {
  display: inline-block;
  width: 84px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.appliance .left .left_t ul li:nth-child(2n+1) {
  margin-right: 12px;
}
.appliance .left .left_b {
  text-align: center;
}
.appliance .left .left_b .one {
  font-size: 18px;
  color: #c81623;
  margin-top: 26px;
  margin-bottom: 4px;
}
.appliance .left .left_b .two {
  color: #c81623;
}
.appliance .left .left_b img {
  margin-top: 20px;
}
.appliance .center1 {
  width: 328px;
  height: 360px;
  float: left;
}
.appliance .center2 {
  width: 219px;
  height: 360px;
  border-right: 1px solid #cccccc;
  float: left;
}
.appliance .center2 .center2_t {
  width: 218px;
  height: 179px;
  border-bottom: 1px solid #cccccc;
  background: url(../images/appliance01.png);
}
.appliance .center2 .center2_b {
  width: 218px;
  height: 180px;
  background: url(../images/appliance02.png);
}
.appliance .center3 {
  width: 221px;
  height: 359px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  float: left;
  text-align: center;
}
.appliance .center3 .one {
  color: #000000;
  font-size: 18px;
  margin-top: 72px;
  margin-bottom: 6px;
}
.appliance .center3 .two {
  color: #999999;
  font-size: 16px;
}
.appliance .center3 img {
  margin-top: 82px;
}
.appliance .right {
  width: 220px;
  height: 360px;
  float: left;
}
.appliance .right .right_t {
  width: 220px;
  height: 179px;
  background: url(../images/appliance06.png) no-repeat right bottom;
  border-bottom: 1px solid #cccccc;
}
.appliance .right .right_t p {
  margin-left: 16px;
}
.appliance .right .right_t .one {
  color: #000000;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 6px;
}
.appliance .right .right_t .two {
  color: #e60012;
  font-size: 14px;
  font-weight: bold;
}
.appliance .right .right_b {
  width: 219px;
  height: 179px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background: url(../images/appliance07.png) no-repeat right bottom;
}
.appliance .right .right_b p {
  margin-left: 16px;
}
.appliance .right .right_b .one {
  color: #000000;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 6px;
}
.appliance .right .right_b .two {
  color: #e60012;
  font-size: 14px;
  font-weight: bold;
}
.brand {
  height: 65px;
  background-color: #f7f7f7;
  margin-top: 20px;
}
.brand .box1 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/haier.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand .box2 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/feike.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand .box3 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/meidi.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand .box4 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/geli.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand .box5 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/tcl.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand .box6 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/hisen.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand .box7 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/changhong.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand .box8 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/phl.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand .box9 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/wanhe.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand .box10 {
  float: left;
  width: 120px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/siem.png) no-repeat center center;
}
.mobile_t {
  margin-top: 30px;
  margin-bottom: 10px;
}
.mobile_t .left {
  float: left;
}
.mobile_t .left h3 {
  color: #c81623;
  font-size: 18px;
  font-weight: normal;
}
.mobile_t .right {
  float: right;
}
.mobile_t .right li {
  display: inline-block;
  line-height: 12px;
  border-right: 1px solid #000000;
}
.mobile_t .right li a {
  padding-left: 12px;
  padding-right: 12px;
}
.mobile_t .right li:last-child {
  border-right: none;
}
.mobile_t .right li:first-child a {
  color: #c81623;
}
.mobile {
  border-top: 2px solid #b1191a;
}
.mobile .left {
  width: 210px;
  height: 360px;
  background-color: #f7f7f7;
  float: left;
}
.mobile .left .left_t ul {
  padding-left: 12px;
}
.mobile .left .left_t ul li {
  float: left;
  border-bottom: 1px solid #cccccc;
}
.mobile .left .left_t ul li a {
  display: inline-block;
  width: 84px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.mobile .left .left_t ul li:nth-child(2n+1) {
  margin-right: 12px;
}
.mobile .left .left_b {
  text-align: center;
}
.mobile .left .left_b .one {
  font-size: 18px;
  color: #c81623;
  margin-top: 26px;
  margin-bottom: 4px;
}
.mobile .left .left_b .two {
  color: #c81623;
}
.mobile .left .left_b img {
  margin-top: 20px;
}
.mobile .center1 {
  width: 328px;
  height: 360px;
  float: left;
}
.mobile .center2 {
  width: 219px;
  height: 360px;
  border-right: 1px solid #cccccc;
  float: left;
}
.mobile .center2 .center2_t {
  width: 218px;
  height: 179px;
  border-bottom: 1px solid #cccccc;
  background: url(../images/mobile03.png) no-repeat right bottom;
}
.mobile .center2 .center2_t p {
  margin-left: 16px;
}
.mobile .center2 .center2_t .one {
  color: #000000;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 6px;
}
.mobile .center2 .center2_t .two {
  color: #e60012;
  font-size: 14px;
  font-weight: bold;
}
.mobile .center2 .center2_b {
  width: 218px;
  height: 180px;
  background: url(../images/mobile04.png) no-repeat right bottom;
}
.mobile .center2 .center2_b p {
  margin-left: 16px;
}
.mobile .center2 .center2_b .one {
  color: #000000;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 6px;
}
.mobile .center2 .center2_b .two {
  color: #e60012;
  font-size: 14px;
  font-weight: bold;
}
.mobile .center3 {
  width: 221px;
  height: 359px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  float: left;
  text-align: center;
}
.mobile .center3 .one {
  color: #000000;
  font-size: 18px;
  margin-top: 72px;
  margin-bottom: 6px;
}
.mobile .center3 .two {
  color: #999999;
  font-size: 16px;
}
.mobile .center3 img {
  margin-top: 46px;
}
.mobile .right {
  width: 220px;
  height: 360px;
  float: left;
}
.mobile .right .right_t {
  width: 220px;
  height: 179px;
  background: url(../images/mobile06.png) no-repeat right bottom;
  border-bottom: 1px solid #cccccc;
}
.mobile .right .right_t p {
  margin-left: 16px;
}
.mobile .right .right_t .one {
  color: #000000;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 6px;
}
.mobile .right .right_t .two {
  color: #e60012;
  font-size: 14px;
  font-weight: bold;
}
.mobile .right .right_b {
  width: 219px;
  height: 179px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background: url(../images/mobile07.png) no-repeat right bottom;
}
.mobile .right .right_b p {
  margin-left: 16px;
}
.mobile .right .right_b .one {
  color: #000000;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 6px;
}
.mobile .right .right_b .two {
  color: #e60012;
  font-size: 14px;
  font-weight: bold;
}
.brand1 {
  height: 65px;
  background-color: #f7f7f7;
  margin-top: 20px;
}
.brand1 .box1 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/yidong.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand1 .box2 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/liantong.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand1 .box3 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/pingguo.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand1 .box4 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/xiaomi.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand1 .box5 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/hisen.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand1 .box6 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/huawei.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand1 .box7 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/snms.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand1 .box8 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/meizu.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand1 .box9 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/oppo.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand1 .box10 {
  float: left;
  width: 120px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/360.png) no-repeat center center;
}
.office_t {
  margin-top: 30px;
  margin-bottom: 10px;
}
.office_t .left {
  float: left;
}
.office_t .left h3 {
  color: #c81623;
  font-size: 18px;
  font-weight: normal;
}
.office_t .right {
  float: right;
}
.office_t .right li {
  display: inline-block;
  line-height: 12px;
  border-right: 1px solid #000000;
}
.office_t .right li a {
  padding-left: 12px;
  padding-right: 12px;
}
.office_t .right li:last-child {
  border-right: none;
}
.office_t .right li:first-child a {
  color: #c81623;
}
.office {
  border-top: 2px solid #b1191a;
}
.office .left {
  width: 210px;
  height: 360px;
  background-color: #f7f7f7;
  float: left;
}
.office .left .left_t ul {
  padding-left: 12px;
}
.office .left .left_t ul li {
  float: left;
  border-bottom: 1px solid #cccccc;
}
.office .left .left_t ul li a {
  display: inline-block;
  width: 84px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.office .left .left_t ul li:nth-child(2n+1) {
  margin-right: 12px;
}
.office .left .left_b {
  text-align: center;
}
.office .left .left_b .one {
  font-size: 18px;
  color: #c81623;
  margin-top: 26px;
  margin-bottom: 4px;
}
.office .left .left_b .two {
  color: #c81623;
}
.office .left .left_b img {
  margin-top: 20px;
}
.office .center1 {
  width: 328px;
  height: 360px;
  float: left;
}
.office .center2 {
  width: 219px;
  height: 360px;
  border-right: 1px solid #cccccc;
  float: left;
}
.office .center2 .center2_t {
  width: 218px;
  height: 179px;
  border-bottom: 1px solid #cccccc;
  background: url(../images/office03.png) no-repeat right bottom;
}
.office .center2 .center2_t p {
  margin-left: 16px;
}
.office .center2 .center2_t .one {
  color: #000000;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 6px;
}
.office .center2 .center2_t .two {
  color: #e60012;
  font-size: 14px;
  font-weight: bold;
}
.office .center2 .center2_b {
  width: 218px;
  height: 180px;
  background: url(../images/office04.png) no-repeat right bottom;
}
.office .center2 .center2_b p {
  margin-left: 16px;
}
.office .center2 .center2_b .one {
  color: #000000;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 6px;
}
.office .center2 .center2_b .two {
  color: #e60012;
  font-size: 14px;
  font-weight: bold;
}
.office .center3 {
  width: 221px;
  height: 359px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  float: left;
  text-align: center;
}
.office .center3 .one {
  color: #000000;
  font-size: 18px;
  margin-top: 72px;
  margin-bottom: 6px;
}
.office .center3 .two {
  color: #999999;
  font-size: 16px;
}
.office .center3 img {
  margin-top: 46px;
}
.office .right {
  width: 220px;
  height: 360px;
  float: left;
}
.office .right .right_t {
  width: 220px;
  height: 179px;
  background: url(../images/office06.png) no-repeat right bottom;
  border-bottom: 1px solid #cccccc;
}
.office .right .right_t p {
  margin-left: 16px;
}
.office .right .right_t .one {
  color: #000000;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 6px;
}
.office .right .right_t .two {
  color: #e60012;
  font-size: 14px;
  font-weight: bold;
}
.office .right .right_b {
  width: 219px;
  height: 179px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background: url(../images/office07.png) no-repeat right bottom;
}
.office .right .right_b p {
  margin-left: 16px;
}
.office .right .right_b .one {
  color: #000000;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 6px;
}
.office .right .right_b .two {
  color: #e60012;
  font-size: 14px;
  font-weight: bold;
}
.brand2 {
  height: 65px;
  background-color: #f7f7f7;
  margin-top: 20px;
}
.brand2 .box1 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/pingguo.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand2 .box2 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/sanxing1.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand2 .box3 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/shenzhou.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand2 .box4 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/Link.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand2 .box5 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/Think.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand2 .box6 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/beals.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand2 .box7 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/daier.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand2 .box8 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/Gopro.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand2 .box9 {
  float: left;
  width: 119px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/intel.png) no-repeat center center;
  border-right: 1px dashed #ccc;
}
.brand2 .box10 {
  float: left;
  width: 120px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/HP.png) no-repeat center center;
}
.hot_t h4 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
  float: left;
}
.hot {
  height: 280px;
  border: 1px solid #cccccc;
}
.hot .item1 {
  float: left;
  height: 280px;
  width: 239px;
  border-right: 1px solid #ccc;
  background: url(../images/hot01.png) no-repeat 38px 40px;
}
.hot .item1 .item1_b .one {
  margin-top: 210px;
  margin-left: 20px;
}
.hot .item1 .item1_b .two {
  font-size: 16px;
  color: #df3033;
  margin-top: 10px;
  margin-left: 20px;
}
.hot .item2 {
  float: left;
  height: 280px;
  width: 218px;
  border-right: 1px solid #cccccc;
}
.hot .item2 .item2_t {
  height: 140px;
  width: 218px;
  background: url(../images/hot02.png) no-repeat 11px center;
  border-bottom: 1px solid #ccc;
}
.hot .item2 .item2_t .one {
  color: #000;
  padding-left: 117px;
  padding-top: 22px;
}
.hot .item2 .item2_t .two {
  font-size: 16px;
  color: #db2e30;
  padding-left: 117px;
  padding-top: 9px;
}
.hot .item2 .item2_b {
  height: 129px;
  width: 218px;
  background: url(../images/hot03.png) no-repeat 11px center;
}
.hot .item2 .item2_b .one {
  color: #000;
  padding-left: 117px;
  padding-top: 22px;
}
.hot .item2 .item2_b .two {
  font-size: 16px;
  color: #db2e30;
  padding-left: 117px;
  padding-top: 9px;
}
.hot .item3 {
  float: left;
  height: 280px;
  width: 219px;
  border-right: 1px solid #ccc;
}
.hot .item3 .item3_t {
  width: 219px;
  height: 140px;
  background: url(../images/hot04.png) no-repeat 11px center;
  border-bottom: 1px solid #ccc;
}
.hot .item3 .item3_t .one {
  color: #000;
  padding-left: 117px;
  padding-top: 22px;
}
.hot .item3 .item3_t .two {
  font-size: 16px;
  color: #db2e30;
  padding-left: 117px;
  padding-top: 9px;
}
.hot .item3 .item3_b {
  width: 219px;
  height: 129px;
  background: url(../images/hot05.png) no-repeat 11px center;
}
.hot .item3 .item3_b .one {
  color: #000;
  padding-left: 117px;
  padding-top: 22px;
}
.hot .item3 .item3_b .two {
  font-size: 16px;
  color: #db2e30;
  padding-left: 117px;
  padding-top: 9px;
}
.hot .item4 {
  float: left;
  height: 280px;
  width: 219px;
  border-right: 1px solid #ccc;
}
.hot .item4 .item4_t {
  width: 219px;
  height: 140px;
  background: url(../images/hot03.png) no-repeat 11px center;
  border-bottom: 1px solid #ccc;
}
.hot .item4 .item4_t .one {
  color: #000;
  padding-left: 117px;
  padding-top: 22px;
}
.hot .item4 .item4_t .two {
  font-size: 16px;
  color: #db2e30;
  padding-left: 117px;
  padding-top: 9px;
}
.hot .item4 .item4_b {
  width: 219px;
  height: 140px;
  background: url(../images/hot03.png) no-repeat 11px center;
  border-bottom: 1px solid #ccc;
}
.hot .item4 .item4_b .one {
  color: #000;
  padding-left: 117px;
  padding-top: 22px;
}
.hot .item4 .item4_b .two {
  font-size: 16px;
  color: #db2e30;
  padding-left: 117px;
  padding-top: 9px;
}
.hot .item5 {
  float: left;
  width: 298px;
  height: 280px;
  background: url(../images/hot06.png) no-repeat;
}
.bottom {
  height: 428px;
  background: #f5f5f5;
  margin-top: 36px;
}
.bottom .zhengpin {
  height: 78px;
  border-bottom: 1px solid #ccc;
  padding-top: 30px;
}
.bottom .zhengpin .zhengpin1:first-child {
  margin-left: 37px;
}
.bottom .zhengpin .zhengpin1 {
  width: 241px;
  height: 50px;
}
.bottom .zhengpin .zhengpin1 .left {
  float: left;
  width: 50px;
  height: 50px;
  background: url(../images/icons.png) -255px -3px;
}
.bottom .zhengpin .zhengpin1 .right {
  float: left;
  margin-left: 7px;
}
.bottom .zhengpin .zhengpin1 .right .c {
  font-size: 12px;
  color: #2f2f2f;
  margin-top: 7px;
  margin-bottom: 9px;
}
.bottom .zhengpin .zhengpin1 .right .d {
  font-size: 12px;
  color: #646464;
}
.bottom .zhengpin .zhengpin2 {
  width: 219px;
  height: 50px;
}
.bottom .zhengpin .zhengpin2 .left {
  float: left;
  width: 50px;
  height: 50px;
  background: url(../images/icons.png) -255px -53px;
}
.bottom .zhengpin .zhengpin2 .right {
  float: left;
  margin-left: 7px;
}
.bottom .zhengpin .zhengpin2 .right .c {
  font-size: 12px;
  color: #2f2f2f;
  margin-top: 7px;
  margin-bottom: 9px;
}
.bottom .zhengpin .zhengpin2 .right .d {
  font-size: 12px;
  color: #646464;
}
.bottom .zhengpin .zhengpin3 {
  float: left;
  width: 235px;
  height: 50px;
}
.bottom .zhengpin .zhengpin3 .left {
  float: left;
  width: 50px;
  height: 50px;
  background: url(../images/icons.png) -255px -106px;
}
.bottom .zhengpin .zhengpin3 .right {
  float: left;
  margin-left: 7px;
}
.bottom .zhengpin .zhengpin3 .right .c {
  font-size: 9px;
  color: #2f2f2f;
  margin-top: 7px;
  margin-bottom: 9px;
}
.bottom .zhengpin .zhengpin3 .right .d {
  font-size: 12px;
  color: #646464;
}
.bottom .zhengpin .zhengpin4 {
  float: left;
  width: 234px;
  height: 50px;
}
.bottom .zhengpin .zhengpin4 .left {
  float: left;
  width: 50px;
  height: 50px;
  background: url(../images/icons.png) -255px -156px;
}
.bottom .zhengpin .zhengpin4 .right {
  float: left;
  margin-left: 7px;
}
.bottom .zhengpin .zhengpin4 .right .c {
  font-size: 12px;
  color: #2f2f2f;
  margin-top: 7px;
  margin-bottom: 9px;
}
.bottom .zhengpin .zhengpin4 .right .d {
  font-size: 12px;
  color: #6464 6;
}
.bottom .zhengpin .zhengpin5 {
  float: left;
  width: 234px;
  height: 50px;
}
.bottom .zhengpin .zhengpin5 .left {
  float: left;
  width: 50px;
  height: 50px;
  background: url(../images/icons.png) -255px -208px;
}
.bottom .zhengpin .zhengpin5 .right {
  float: left;
  margin-left: 7px;
}
.bottom .zhengpin .zhengpin5 .right .c {
  font-size: 12px;
  color: #2f2f2f;
  margin-top: 7px;
  margin-bottom: 9px;
}
.bottom .zhengpin .zhengpin5 .right .d {
  font-size: 12px;
  color: #646464;
}
.bottom .links {
  height: 188px;
  border-bottom: 1px solid #ccc;
  margin-top: 100px;
}
.bottom .links dl {
  margin-right: 133px;
}
.bottom .links dl:first-child {
  margin-left: 52px;
}
.bottom .links dt {
  font-size: 16px;
  margin-bottom: 14px;
}
.bottom .links dd {
  margin-bottom: 6px;
}
.bottom .links .right {
  width: 94px;
  height: 147px;
  margin-right: 76px;
  text-align: center;
}
.bottom .links .right .bz {
  font-size: 16px;
}
.bottom .links .right .pg {
  margin-top: 8px;
}
.bottom .footer {
  margin-top: 20px;
}
.bottom .footer ul {
  margin-left: 116px;
  background: #f5f5f5;
}
.bottom .footer ul li {
  float: left;
  border-right: 1px solid #000000;
  line-height: 12px;
}
.bottom .footer ul li a {
  padding-left: 14px;
  padding-right: 14px;
}
.bottom .footer ul li:last-child {
  border-right: none;
}
.bottom .footer .one {
  margin-left: 240px;
  margin-top: 10px;
}
.bottom .footer .two {
  margin-left: 468px;
}
