.box {
  margin-top: 50px;
  overflow: hidden;
}
.box .help {
  float: left;
  width: 270px;
  height: 320px;
  background-color: #f3f3f3;
}
.box .help .top h3 {
  border-bottom: 1px solid #a3a3a3;
  padding-top: 35px;
  padding-left: 35px;
  padding-bottom: 10px;
  font-size: 16px;
}
.box .help .bottom {
  padding-left: 35px;
}
.box .help .bottom .bus {
  margin-top: 10px;
}
.box .help .bottom .bus p {
  padding-left: 10px;
}
.box .help .bottom .free {
  margin-top: 30px;
}
.box .help .bottom .free p {
  padding-left: 10px;
}
.box .business {
  float: left;
  width: 700px;
  margin-left: 34px;
  margin-bottom: 50px;
  background-color: #f3f3f3;
}
.box .business .top h3 {
  border-bottom: 1px solid #a3a3a3;
  padding-top: 35px;
  padding-left: 35px;
  padding-bottom: 10px;
  font-size: 16px;
}
.box .business .bottom {
  padding-left: 35px;
}
.box .business .bottom .about {
  margin-top: 30px;
}
.box .business .bottom .about p {
  width: 600px;
  padding-top: 5px;
  margin-top: 35px;
}
.box .business .bottom .big h4 {
  margin-top: 60px;
}
.box .business .bottom .big p {
  width: 630px;
}
.box .business .call {
  margin-top: 60px;
  padding-left: 35px;
  font-size: 14px;
}
.box .business .plan {
  margin-top: 50px;
  padding-left: 35px;
}
.box .business .plan h3 {
  font-size: 20px;
}
.box .business .plan div {
  margin-left: 25px;
  margin-top: 15px;
}
.box .business .plan div p {
  font-size: 14px;
}
.box .business .plan1 {
  margin-top: 50px;
  padding-left: 35px;
  margin-bottom: 30px;
}
.box .business .plan1 h3 {
  font-size: 20px;
}
.box .business .plan1 div {
  margin-left: 25px;
  margin-top: 15px;
}
.box .business .plan1 div p {
  font-size: 14px;
}
